@import url(https://fonts.googleapis.com/css2?family=Mukta&display=swap);

header {
   height: 175px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: rgb(0, 0, 0);
   position: fixed;
   z-index: 1;
   top: 1;
   border-radius: 15px;
}

img {
    border-color: rgb(0, 0, 0);
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;

}

td {
    border-color: black;
    border-width: 2px;
    border-style: solid;

}

th {
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

div {
    border-color: black;
    border-style: solid;
}

a{
margin: 7px;
color: rgb(255, 255, 255);
   font-family: 'Mukta', sans-serif;
   font-weight: 700;
   font-style: normal;
   font-size: 38px;
   line-height: 1.15;
   letter-spacing: -.02em;
}
.div-header{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

.img_class{
    width: 150px;
    height: 150px;
}

table {
  background-color: rgb(197, 120, 120);
}