header {
   height: 80px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: blueviolet;
   position: fixed;
   z-index: 1;
   top: 0;
}

img {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;

}

td {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50;

}

th {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50;
}

div {
border-color: black;
    border-width: 8px;
    border-style: solid;
}